// Place all the styles related to the ingredients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ingredients {
  text-align: center;
}

.col-md-2 {
	padding: 10px 10px 10px 10px;
	color: white;
}