// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.welcome {
  margin-top: 200px;

  h1 {
  text-align: center;
  font-family: 'Fredoka One', cursive;
  }

}

.welcome_image {
  position: relative;
  bottom: 150px;
}



